<nz-layout>
  @if(showNavbar){
    <nz-header>
      <div nz-row nzAlign="middle" nzJustify="space-between">
        <div nz-col>
          <ul nz-menu nzTheme="light" nzMode="horizontal">
            <img src="../assets/img/logo/logo.png" alt="" class="logo">
            <li nz-menu-item>Projets</li>
            <li nz-menu-item>Tabs</li>
          </ul>
        </div>
        <div nz-col nzAlign="middle">
          <button nz-button class="btn-primary create-btn">Créer</button>
          <nz-avatar nzSize="large" src="../assets/img/avatar.jpg" class="avatar"></nz-avatar>
        </div>
      </div>
    </nz-header>
  }
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
