<div>
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom du projet</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="input"
        placeholder="Entrez le nom du projet"
      />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="input"
        placeholder="Entrez la description du projet"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="members">Membres (séparés par des virgules)</label>
      <input
        type="text"
        id="members"
        formControlName="members"
        class="input"
        placeholder="Entrez les membres"
      />
    </div>

    <button type="submit" class="btn btn-primary">Soumettre</button>
  </form>
</div>
