@use "sass:math";

$container-width: 80%;
$container-full-width: 100%;
$height-full: 100vh;
$gutter: 16px;
$flex-alignment: center;

@mixin container($width) {
  width: $width;
  height: $height-full;
  display: flex;
  flex-direction: row;
  justify-content: $flex-alignment;
  align-items: $flex-alignment;
  margin: auto;
}

@mixin col($columns) {
  width: math.div(100%, 12) * $columns;
}

.container {
  @include container($container-width);
}

.container-full {
  @include container($container-full-width);
}

.col-1 {
  @include col(1);
}
.col-2 {
  @include col(2);
}
.col-3 {
  @include col(3);
}
.col-4 {
  @include col(4);
}
.col-5 {
  @include col(5);
}
.col-6 {
  @include col(6);
}
.col-7 {
  @include col(7);
}
.col-8 {
  @include col(8);
}
.col-9 {
  @include col(9);
}
.col-10 {
  @include col(10);
}
.col-11 {
  @include col(11);
}
.col-12 {
  @include col(12);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: $flex-alignment;
  align-items: $flex-alignment;
}

.text-center {
  text-align: center;
}

.btn {
  border-radius: 10px;
  padding: 10px;
}

.btn-primary,
.btn-primary:focus {
  background-color: #4a15a3;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #4a15a3 !important;
  color: white !important;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #614f7f !important;
  color: white !important;
}

.btn-secondary,
.btn-secondary:focus {
  background-color: #156da3 !important;
  color: white !important;
  border: none;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #4f707f !important;
  color: white !important;
}

.btn-danger,
.btn-danger:focus {
  background-color: #a31515 !important;
  color: white !important;
  border: none;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #7f4f4f !important;
  color: white !important;
}
.input {
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 80%;
  border: 0;
  background-color: #f4f4f4dd;
}
.text-primary {
  color: #4a15a3 !important;
}
