<div class="project-tab-container">
  <div class="header-table-container">
    <div class="left">
      @if(taskService.selectedProject$ | async) {
      <h2>Kanban : {{ taskService.selectedProject.name }}</h2>
      } @else {
      <h2>Kanban</h2>
      }
      <button nz-button nzType="primary">Modifier</button>
    </div>
    <div class="horizontal-container">
      <div class="search-bar">
        <input
          nz-input
          type="text"
          placeholder="Rechercher par nom..."
          [disabled]="!(disabled$ | async)"
          [(ngModel)]="searchTerm"
        />
      </div>
      <div class="filter">
        <label>Filtrer par:</label>
        <nz-select
          [disabled]="!(disabled$ | async)"
          [(ngModel)]="currentSelectedFilter"
          nzAllowClear
          nzPlaceHolder="Choisir un filtre"
          (ngModelChange)="onFilterChange($event)"
        >
          <nz-option-group nzLabel="Priorité">
            <nz-option [nzValue]="Priority.Low" nzLabel="Faible"></nz-option>
            <nz-option
              [nzValue]="Priority.Medium"
              nzLabel="Moyenne"
            ></nz-option>
            <nz-option [nzValue]="Priority.High" nzLabel="Haute"></nz-option>
          </nz-option-group>
          <nz-option-group nzLabel="Type">
            <nz-option
              [nzValue]="TaskType.Update"
              nzLabel="Amélioration"
            ></nz-option>
            <nz-option
              [nzValue]="TaskType.NewFeature"
              nzLabel="Fonctionnalité"
            ></nz-option>
            <nz-option
              [nzValue]="TaskType.BugFix"
              nzLabel="Bug Fixe"
            ></nz-option>
          </nz-option-group>
        </nz-select>
      </div>
    </div>
  </div>
  <div class="table-container">
    <div class="column">
      <span>A FAIRE</span>
      <div class="task-list">
        @for (task of taskService.getSelectedTaskByStatus(TaskStatus.ToDo) |
        filterTasks:searchTerm; track $index) {
        <div class="card">
          <span
            nz-icon
            [nzType]="getIconByTaskType(task.type)"
            nzTheme="outline"
          ></span>
          <span>{{ task.title }}</span>
          <span
            nz-icon
            [nzType]="getIconByPriority(task.priority)"
            nzTheme="outline"
          ></span>
        </div>
        }
      </div>
    </div>
    <div class="column">
      <span>EN COURS</span>
      <div class="task-list">
        @for (task of taskService.getSelectedTaskByStatus(TaskStatus.InProgress)
        | filterTasks:searchTerm; track $index) {
        <div class="card">
          <span
            nz-icon
            [nzType]="getIconByTaskType(task.type)"
            nzTheme="outline"
          ></span>
          <span>{{ task.title }}</span>
          <span
            nz-icon
            [nzType]="getIconByPriority(task.priority)"
            nzTheme="outline"
          ></span>
        </div>
        }
      </div>
    </div>
    <div class="column">
      <span>TERMINER</span>
      <div class="task-list">
        @for (task of taskService.getSelectedTaskByStatus(TaskStatus.Done) |
        filterTasks:searchTerm; track $index) {
        <div class="card">
          <span
            nz-icon
            [nzType]="getIconByTaskType(task.type)"
            nzTheme="outline"
          ></span>
          <span>{{ task.title }}</span>
          <span
            nz-icon
            [nzType]="getIconByPriority(task.priority)"
            nzTheme="outline"
          ></span>
        </div>
        }
      </div>
    </div>
  </div>
</div>
