app-project-tabs {
  .project-tab-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header-table-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 15px;

      .left {
        display: flex;
        flex-direction: column;
      }

      .horizontal-container {
        margin-top: 15px;
        display: flex;
        align-items: center;
        height: 50px;
      }

      .search-bar,
      .filter {
        flex: 1;
        margin: 0 10px;

        nz-select {
          margin-left: 10px;
          width: 50%;
        }
      }

      .filter {
        display: flex;
        align-items: baseline;
        justify-content: end;
      }

      .search-bar input {
        width: 100%;
        padding: 5px;
      }
    }

    .table-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      border: 1px solid #dcdcdc;
      padding: 10px 20px;
      border-radius: 10px;

      .column {
        width: 31%;
        > span {
          font-size: 18px;
          font-weight: bold;
        }
        .task-list {
          border-radius: 10px;
          overflow-y: auto;
          width: 100%;
          height: 95%;
          border: 1px solid #dcdcdc;
          padding: 10px;

          .card {
            width: 100%;
            height: 60px;
            border: 1px solid #b7c5ca;
            display: flex;
            border-radius: 5px;
            margin-bottom: 10px;
            background-color: #b7c5ca;
            padding: 12px 12px;
            align-items: center;
            justify-content: space-between;

            [nz-icon] {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}
