<div class="container-full">
    <h1>Gestion des Projets</h1>
    <div class="row">
        <div class="col-6">
            <input
                type="text"
                placeholder="Rechercher un projet..."
                [(ngModel)]="search"
                (input)="filterProjects()"
                class="input"
            />
        </div>
        <div class="col-6 projectBtn">
            <button (click)="createProject()" class="btn btn-primary">Créer un projet</button>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>Nom du projet</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of filteredProjects; let i = index">
            <td>{{ project.name }}</td>
            <td>
            <button (click)="renameProject(project)" class="btn btn-primary" [disabled]="isProjectSelected(project)">Selectionner</button>
            <button (click)="renameProject(project)" class="btn btn-secondary">Renommer</button>
            <button (click)="deleteProject(project)" class="btn btn-danger">Supprimer</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
